#mainHeading{
  display: flex;
  justify-content: center;
  margin: 50px;
}
h1{
  border-style: solid;
  border-color: cornflowerblue;
  border-width: 6;
  padding: 50px;
}
#catergoryPicker{
  display: flex;
  justify-content: center;
}
#flashCardGroup1{
  display: flex;
  justify-content: center;
  margin: 60px;
  border-color: cornflowerblue;
  border-width: 6;
  padding: 20px;
}
#flashForm{
  display: flex;
  justify-content: center;
  border-style: solid;
  border-color: cornflowerblue;
  border-width: 6;
  padding: 20px;
}
#delete-current-card{
  display: flex;
  justify-content: center;
  padding: 20px
}